<div class="login"  method="post">
  <!-- <span  style="font-size:15px;color:red">Username or password is incorrect</span> -->
<form action="login" name="form" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input formControlName="username" type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
     
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input formControlName="password" type="password" class="form-control" name="password" id="password" >
    </div>
   
    <button type="submit" name="login"class="btn btn-primary" >Login</button>
    <p>New User ?<a href="/register">Register</a></p>
  </form>
</div>
