<div class="flex-container">
    <h2>Product</h2>
<table class="table table-hover" >
<thead>
    
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Rating</th>
   
</thead>

<tbody>
    <tr >
       
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>₹{{product.price}}</td>
        <td>{{product.rating}}</td>
        
    </tr>
</tbody>
</table>
</div>
