<div class="container">
<div class="text-center">
    <input class="form-control" type="file" 
            (change)="onChange($event)">
  
    <button (click)="onUpload()" 
        class="btn btn-success">
        Upload
    </button>
</div>
  
<!-- Shareable short link of  uoloaded file -->

<!--Flag variable is used here-->
<div class="container" *ngIf="loading">
    <h3>Upload Successful</h3>
</div>
</div>