<div class="login"  method="post">
    <!-- <span  style="font-size:15px;color:red">Username or password is incorrect</span> -->
  <form [formGroup]="register" name="form" (ngSubmit)="registerUser()">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp">
       
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
       
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
       
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="password" >
      </div>
     
      <button type="submit" name="login"class="btn btn-primary" >Register</button>
      <p>Already signed up ?<a routerLink="login">Login</a></p>
    </form>
  </div>
