<div class="flex-container">
    <h2>Products</h2>
<table class="table table-hover" >
<thead>
    <th scope="col"> Id</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Price</th>
    <th scope="col">Rating</th>
    <th scope="col">Stock</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
</thead>

<tbody>
    <tr *ngFor="let item of productList">
        <td>{{item.productId}}</td>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>₹{{item.price}}</td>
        <td>{{item.rating}}</td>
        <td>{{item.stock}}</td>
        <td>
            <a>
              <button id={{item.productId}} class='btn btn-primary' (click)="editProduct($event)" style="cursor:pointer;">Edit</button>
            </a>
          </td>
          <td>
            <a>
              <button id={{item.productId}} class="btn btn-danger material-icons" style="color:red"  (click)="deleteProduct($event)" style="cursor:pointer;">Delete</button>
            </a>
          </td>
    </tr>
</tbody>
</table>
</div>
