<div class="flex-container">
    <h2>Wishlist</h2>
<table class="table table-hover" >
<thead>
   
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Rating</th>
    <th>Action</th>
</thead>
<tbody>
    <tr *ngFor="let item of products">
       
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>₹{{item.price}}</td>
        <td>{{item.rating}}</td>
        <td><button class="btn btn-danger" >Remove</button></td>
    </tr>
</tbody>
</table>

